openapi: 3.1.0
info:
  title: BIPC
  description: Iterative Benchmark for Low-Carbon Projects
  version: 1.0.0
security:
  - apiKeyAuthentication: []
  - bearerHttpAuthentication: []
tags:
  - name: users
  - name: invitations
  - name: tokens
  - name: projects
  - name: Units
  - name: Options
  - name: Modules
    description: |
      Endpoints de módulos exclusivos da v1, sem equivalente na v2.
      Inclui exclusão e duplicação de módulos.
  - name: Modules v1
    description: |
      Endpoints legados de criação, leitura e atualização de módulos.
      Mantidos para compatibilidade. Prefira a versão v2.
  - name: Modules v2
    description: |
      Endpoints atuais para criar, ler e atualizar módulos.
      Suportam posicionamento explícito (concrete/steel/form), floor_index em batch e retornam floor_indexes nas leituras.
servers:
  - url: https://app.bipc.org.br

paths:
  /v1/users:
    post:
      summary: Register a new user
      description: Creates a new user account. After registration, an activation token is sent to the user's email.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser"
      responses:
        "202":
          description: Accepted. The user was successfully registered and an activation email has been sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., duplicate email).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update user details
      description: Updates the details for the currently authenticated user. Requires authentication.
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUser"
      responses:
        "200":
          description: OK. The user was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., duplicate email).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete user account
      description: Deletes the currently authenticated user's account. To delete the account it is necessary to delete or transfer the projects.
      tags: [users]
      responses:
        "200":
          description: OK. The user was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "403":
          description: Forbidden. The user cannot be deleted because they have associated projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/users/activated:
    put:
      summary: Activate a user
      description: Activates a user account using a token sent to their email.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        "200":
          description: OK. User successfully activated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The token is invalid or has expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/users/password:
    put:
      summary: Update user password
      description: Updates the password for a user, typically used in a password reset flow.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - token
              properties:
                password:
                  type: string
                  format: password
                  description: The new password. Must be at least 8 bytes long.
                token:
                  type: string
      responses:
        "200":
          description: OK. Password successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The token is invalid or has expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/users/collaborators:
    get:
      summary: List user collaborators
      description: Returns a list of users who have been invited to collaborate on the authenticated user's projects.
      tags: [users]
      responses:
        "200":
          description: A list of collaborators.
          content:
            application/json:
              schema:
                type: object
                required:
                  - users
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/users/pending-invitations:
    get:
      summary: List pending invitations
      description: Returns a list of pending invitations for the authenticated user.
      tags: [invitations]
      responses:
        "200":
          description: A list of pending invitations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationsWithDetails"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/users/reply/{invitationID}:
    put:
      summary: Reply to an invitation
      description: Accepts or declines an invitation to collaborate on a project.
      tags: [invitations]
      parameters:
        - name: invitationID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - accepted
                    - declined
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. Invitation response recorded successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /v1/tokens/authentication:
    post:
      summary: Create authentication token
      description: Authenticates a user and returns a JWT token.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. Invalid credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. Token successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - authentication_token
                  - user
                properties:
                  authentication_token:
                    type: object
                    required:
                      - token
                      - expiry
                    properties:
                      token:
                        type: string
                      expiry:
                        type: string
                        format: date-time
                  user:
                    $ref: "#/components/schemas/User"

  /v1/tokens/activation:
    post:
      summary: Resend activation token
      description: Resends the activation token to the user's email.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "202":
          description: OK. Activation email resent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/tokens/password-reset:
    post:
      summary: Create password reset token
      description: Sends a password reset token to the user's email.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "202":
          description: Accepted. Password reset email sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /v1/tokens/api-key:
    post:
      summary: Create API key
      description: Generates a new API key for the authenticated user.
      tags: [tokens]
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. API key successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_key
                properties:
                  api_key:
                    type: string
                    readOnly: true

  /v1/projects:
    post:
      summary: Create new project
      description: Creates a new project for the authenticated user.
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProject"
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. The project was successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/Project"
    get:
      summary: List all projects
      description: Returns a paginated list of projects for the authenticated user.
      tags: [projects]
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000000
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              [
                "id",
                "created_at",
                "name",
                "state",
                "city",
                "phase",
                "-id",
                "-created_at",
                "-name",
                "-state",
                "-city",
                "-phase",
              ]
      responses:
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: Created. The project was successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - projects
                  - metadata
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectWithUnits"
                  metadata:
                    type: object
                    required:
                      - current_page
                      - page_size
                      - first_page
                      - last_page
                      - total_records
                    properties:
                      current_page:
                        type: integer
                      page_size:
                        type: integer
                      first_page:
                        type: integer
                      last_page:
                        type: integer
                      total_records:
                        type: integer

  /v1/projects/{projectID}:
    get:
      summary: Get a project by ID
      description: Retrieves the details of a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The requested project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: A single project.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/ProjectWithUnits"
    patch:
      summary: Update a project
      description: Updates the details of a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProject"
      responses:
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. account must be activated or user does not have permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The requested project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. The project was successfully updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/Project"
    delete:
      summary: Delete a project
      description: Deletes a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. account must be activated or user does not have permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. The project was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /v1/projects/{projectID}/duplicate:
    post:
      summary: Duplicate a project (same owner)
      description: Creates a complete copy of an existing project including all its units, floors, options, modules, and roles. The duplicated project will have a new name with a numeric suffix (e.g., "Project (1)"), and all IDs will be newly generated. The current authenticated user becomes the owner of the duplicated project, and all original role members are preserved. Note that this endpoint does NOT allow changing the owner - use the transfer endpoint for cross-account duplication.
      tags: [projects]
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: ID of the project to duplicate
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created. The project was successfully duplicated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/ProjectWithUnits"
        "400":
          description: Bad Request. Invalid project ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Account must be activated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error. Failed to duplicate project or its resources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/projects/{projectID}/invite:
    post:
      summary: Invite a user to a project
      description: Sends an invitation to a user to collaborate on a project.
      tags:
        - invitations
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK. Invitation sent successfully.
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., user already a member, or pending invitation exists).
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units:
    post:
      summary: Create new unit
      description: Creates a new unit (e.g., a tower) within a project.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project to add the unit to.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitCreate"
      responses:
        "200":
          description: OK. The unit was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "422":
          description: Unprocessable Entity. The request failed validation checks.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}:
    get:
      summary: Get a unit by ID
      description: Retrieves the details of a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to retrieve.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A single unit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "500":
          description: Internal Server Error.
    patch:
      summary: Update a unit
      description: Updates the details of a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to update.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitCreate"
      responses:
        "200":
          description: OK. The unit was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "409":
          description: Conflict. A conflicting edit occurred.
        "422":
          description: Unprocessable Entity. The request failed validation checks.
        "500":
          description: Internal Server Error.
    delete:
      summary: Delete a unit
      description: Deletes a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to delete.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK. The unit was successfully deleted.
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/duplicate:
    post:
      summary: Duplicate an existing unit with all its options and modules
      description: Creates a copy of an existing unit with all its floors, options, and modules. All entities are created with new IDs. Floor indexes are preserved (floor index 0 becomes floor index 0 in the new unit). Modules associated with specific floors are mapped to the corresponding floor indexes in the new unit. The active option state is preserved. If the original name ends with " (number)", the number is incremented; otherwise, " (1)" is appended to the name.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit to duplicate
      responses:
        "201":
          description: Unit successfully duplicated with all its floors, options, and modules
          content:
            application/json:
              schema:
                type: object
                properties:
                  unit:
                    $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. Invalid project or unit ID.
        "404":
          description: Not Found. The original unit does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/options:
    post:
      summary: Create a new engineering option for a tower
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OptionCreateRequest"
      responses:
        "201":
          description: unit option created successfully
    get:
      summary: List all options for a unit
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A list of options
  /v1/projects/{projectID}/units/{unitID}/options/{optionID}:
    get:
      summary: Get a unit option by ID
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A single unit option
        "404":
          description: Not Found.
    patch:
      summary: Update a unit option
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OptionCreateRequest"
      responses:
        "200":
          description: Successfully updated
        "404":
          description: Not Found.
        "409":
          description: Conflict. A conflicting edit occurred.
    delete:
      summary: Delete a unit option
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully deleted
        "404":
          description: Not Found.

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/duplicate:
    post:
      summary: Duplicate an existing option with all its modules
      description: Creates a copy of an existing option with the same data but new IDs. All modules associated with the original option are also duplicated. The duplicated option will be marked as active and any other active option will be deactivated. If the original name ends with " (number)", the number is incremented; otherwise, " (1)" is appended to the name.
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option to duplicate
      responses:
        "201":
          description: Option successfully duplicated with all its modules
        "400":
          description: Bad Request. Invalid unit or role ID.
        "404":
          description: Not Found. The original option does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules:
    post:
      operationId: createModule
      summary: Create a new module for a unit option
      description: |
        Compatibility endpoint. v1 accepts only legacy grouped fields (concrete_* and legacy form fields).
        v1 does not support stair position in structural modules. Structural modules also accept optional
        beam_number and slab_number fields. For foundation modules, unit_id may be omitted and will be
        automatically inferred from the unitID path parameter. The same endpoint also accepts batch
        creation when payload root contains modules [] with v1 module items.

        Supports single creation ({module: ...}) or batch creation ({modules: [...]}).
        Incomplete modules (failed validation) are still persisted with `completed: false` and
        consumption is computed only if the module can still be calculated; otherwise it is zeroed.
        For valid modules, `completed` is reported as true.
      tags:
        - Modules v1
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ModuleCreateRequestV1"
                - $ref: "#/components/schemas/ModuleBatchCreateRequestV1"
            examples:
              beam_column_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateBeamColumnV1"
              batch_v1:
                value:
                  modules:
                    - type: beam_column
                      data:
                        floor_ids:
                          - f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6
                        concrete_columns:
                          volumes:
                            - fck: 30
                              volume: 120
                          steel:
                            - material: rebar
                              resistance: CA50
                              mass: 6000
                        concrete_beams:
                          volumes:
                            - fck: 30
                              volume: 150
                          steel:
                            - material: rebar
                              resistance: CA50
                              mass: 7500
                        concrete_slabs:
                          volumes:
                            - fck: 25
                              volume: 350
                          steel:
                            - material: rebar
                              resistance: CA60
                              mass: 13000
                    - type: concrete_wall
                      data:
                        floor_ids:
                          - a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        concrete_walls:
                          volumes:
                            - fck: 30
                              volume: 80
                          steel:
                            - material: rebar
                              resistance: CA50
                              mass: 4200
                        concrete_slabs:
                          volumes:
                            - fck: 25
                              volume: 140
                          steel:
                            - material: rebar
                              resistance: CA60
                              mass: 5000
              concrete_wall_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateConcreteWallV1"
              structural_masonry_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateStructuralMasonryV1"
              raft_foundation_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftFoundationV1"
              piles_foundation_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreatePilesFoundationV1"
              raft_piles_foundation_v1:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftPilesFoundationV1"
      responses:
        "201":
          description: Module(s) created successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ModuleResponseV1"
                  - $ref: "#/components/schemas/ModuleBatchResponseV1"

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules/{moduleID}:
    get:
      operationId: readModule
      summary: Get a module by ID
      description: |
        Compatibility endpoint. All modules are returned in v1 legacy shape. Aggregated v2-only fields are omitted in v1 responses.
        The response includes the `completed` flag indicating whether the module data is complete.
      tags:
        - Modules v1
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module
        - name: include_source
          in: query
          required: false
          schema:
            type: boolean
          description: |
            When true, the module data is returned with its canonical tagged shape:
            root scalar fields as `{value, source}` boxes and object/array items
            carrying a `source` key. When false or omitted, plain values are returned
            (fully backward compatible).
      responses:
        "200":
          description: A single module
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModuleResponseV1"
    delete:
      operationId: deleteModule
      summary: Delete a module
      description: |
        Deletes a module and its associated target consumptions.
        This endpoint exists only in v1 and has no v2 equivalent.
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module
      responses:
        "200":
          description: Successfully deleted
    patch:
      operationId: updateModule
      summary: Update a module
      description: |
        Compatibility endpoint. For beam_column, concrete_wall, and structural_masonry, v1 accepts only
        legacy grouped fields (concrete_* and legacy form fields). v1 does not support stair position in
        structural modules. Structural modules also accept optional beam_number and slab_number fields.
        For foundation modules, unit_id may be omitted and will be automatically inferred from the unitID
        path parameter.
        Updated modules are allowed to be incomplete (failed validation): they are
        still persisted with `completed: false`. Consumption is zeroed only when the module
        cannot be calculated; otherwise calculated values are kept.
      tags:
        - Modules v1
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module
      requestBody:
        required: true
        content:
          application/json:
             schema:
               $ref: "#/components/schemas/ModuleUpdateRequestV1"
      responses:
        "200":
          description: module successfully updated      

  /v2/projects/{projectID}/units/{unitID}/options/{optionID}/modules:
    post:
      operationId: createModuleV2
      summary: Create a new module for a unit option
      description: |
        Preferred endpoint for module creation. Structural modules must use aggregated concrete/steel/form arrays.
        Legacy grouped fields and legacy root form fields are not accepted. Structural modules also accept optional
        beam_number and slab_number fields. Use floor_index only in batch payload items and only as an alternative
        to floor_ids (never send both in the same item). Read responses return floor_indexes for structural modules. For foundation modules, unit_id may be omitted and will be
        automatically inferred from the unitID path parameter. The same endpoint also accepts batch creation
        when payload root contains modules [] with v2 module items.

        Supports single creation ({module: ...}) or batch creation ({modules: [...]}).
        When 2 or more modules are sent, the operation uses a database transaction (30s timeout)
        ensuring all-or-nothing persistence.
        Incomplete modules (failed validation) are still persisted with `completed: false`.
        Consumption is zeroed only when the module cannot be calculated (partial values are kept otherwise).
        For valid modules, `completed` is reported as true.
      tags:
        - Modules v2
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ModuleCreateRequestV2"
                - $ref: "#/components/schemas/ModuleBatchCreateRequestV2"
            examples:
              beam_column_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateBeamColumnV2"
              batch_v2:
                value:
                  modules:
                    - type: beam_column
                      data:
                        floor_index: 2
                        concrete:
                          - fck: 30
                            volume: 120
                            position: column
                        steel:
                          - material: rebar
                            resistance: CA50
                            mass: 6000
                            position: column
                    - type: piles_foundation
                      data:
                        unit_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        concrete:
                          - fck: 30
                            volume: 60
                            position: pile
                        steel:
                          - material: rebar
                            resistance: CA50
                            mass: 2200
                            position: pile
              concrete_wall_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateConcreteWallV2"
              structural_masonry_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateStructuralMasonryV2"
              raft_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftFoundationV2"
              piles_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreatePilesFoundationV2"
              raft_piles_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftPilesFoundationV2"
      responses:
        "201":
          description: Module(s) created successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ModuleResponseV2"
                  - $ref: "#/components/schemas/ModuleBatchResponseV2"
        "400":
          description: Bad Request.
        "404":
          description: Not Found.

  /v2/projects/{projectID}/units/{unitID}/options/{optionID}/modules/{moduleID}:
    get:
      operationId: readModuleV2
      summary: Get a module by ID
      description: |
        Preferred endpoint for reads. Returns v2 response shape only.
        Note: floor_indexes is returned in v2 read responses for structural modules; floor_index (singular) is never returned.
        The response includes the `completed` flag indicating whether the module data is complete.
      tags:
        - Modules v2
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module
        - name: include_source
          in: query
          required: false
          schema:
            type: boolean
          description: |
            When true, the module data is returned with its canonical tagged shape:
            root scalar fields as `{value, source}` boxes and object/array items
            carrying a `source` key. When false or omitted, plain values are returned
            (fully backward compatible).
      responses:
        "200":
          description: A single module
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModuleResponseV2"
        "404":
          description: Not Found.

    patch:
      operationId: updateModuleV2
      summary: Update a module
      description: |
        Preferred endpoint for updates. Structural modules must use aggregated concrete/steel/form arrays with
        explicit position per item and may include optional beam_number and slab_number fields. For foundation
        modules, unit_id may be omitted and will be automatically inferred from the unitID path parameter.
        Updated modules are allowed to be incomplete (failed validation): they are
        still persisted with `completed: false` and zeroed consumption.
      tags:
        - Modules v2
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option containing the module
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module
      requestBody:
        required: true
        content:
          application/json:
            schema:
               $ref: "#/components/schemas/ModuleUpdateRequestV2"
            examples:
              beam_column_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateBeamColumnV2"
              concrete_wall_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateConcreteWallV2"
              structural_masonry_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateStructuralMasonryV2"
              raft_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftFoundationV2"
              piles_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreatePilesFoundationV2"
              raft_piles_foundation_v2:
                $ref: "./openapi-modules-schemas.yaml#/components/examples/ModuleCreateRaftPilesFoundationV2"
      responses:
        "200":
          description: module successfully updated
        "400":
          description: Bad Request.
        "404":
          description: Not Found.

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules/{moduleID}/duplicate:
    post:
      operationId: duplicateModule
      summary: Duplicate an existing module
      description: |
        Creates a copy of an existing module with the same data but a new ID.
        The duplicated module is associated with the specified option.
        This endpoint exists only in v1 and has no v2 equivalent.
        Returns the duplicated module in raw data format (no version conversion).
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project containing the unit
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit containing the option
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The option ID to associate the duplicated module with
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module to duplicate
      responses:
        "201":
          description: Module successfully duplicated
        "400":
          description: Bad Request. Invalid option, floor, or unit ID.
        "404":
          description: Not Found. The original module does not exist.
        "500":
          description: Internal Server Error.

components:
  securitySchemes:
    bearerHttpAuthentication:
      type: http
      scheme: bearer
      bearerFormat: opaque
    apiKeyAuthentication:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          oneOf:
            - type: string
            - type: object
              additionalProperties:
                type: string

    DefaultOkResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string

    CreateUser:
      type: object
      required:
        - name
        - email
        - password
        - type
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        type:
          type: string
          enum:
            - member
            - company
        cnpj:
          type: string
          description: CNPJ number (for company users) digits only
        crea_cau:
          type: string
          description: CREA or CAU registration number
        birthdate:
          type: string
          format: date
        city:
          type: string
        activity:
          type: string
        enterprise:
          type: string
        cep:
          type: string
        state:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        complement:
          type: string

    User:
      allOf:
        - $ref: "#/components/schemas/CreateUser"
        - type: object
          required:
            - id
            - created_at
            - activated
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            activated:
              type: boolean
              readOnly: true

    UpdateUser:
      type: object
      properties:
        name:
          type: string
          description: "User's full name."
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          description: "User's new password. Must be at least 8 characters long."
        cnpj:
          type: string
          description: CNPJ number (for company users) digits only
        crea_cau:
          type: string
          description: CREA or CAU registration number
        birthdate:
          type: string
          format: date-time
        city:
          type: string
        activity:
          type: string
        enterprise:
          type: string
        cep:
          type: string
        state:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        complement:
          type: string

    InvitationsWithDetails:
      type: object
      required:
        - invitations
      properties:
        invitations:
          type: array
          items:
            type: object
            required:
              - id
              - status
              - created_at
              - expires_at
              - inviter_id
              - project_id
              - email
              - inviter_name
              - project_name
            properties:
              id:
                type: string
                format: uuid
              status:
                type: string
                enum:
                  - accepted
                  - declined
              created_at:
                type: string
                format: date-time
              expires_at:
                type: string
                format: date-time
              inviter_id:
                type: string
                format: uuid
              project_id:
                type: string
                format: uuid
              email:
                type: string
                format: email
              inviter_name:
                type: string
              project_name:
                type: string

    CreateProject:
      type: object
      required:
        - name
        - state
        - city
        - phase
      properties:
        name:
          type: string
        cep:
          type: string
        state:
          type: string
        city:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        phase:
          type: string
        description:
          type: string

    UpdateProject:
      type: object
      properties:
        name:
          type: string
        cep:
          type: string
        state:
          type: string
        city:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        phase:
          type: string
        description:
          type: string

    Project:
      allOf:
        - $ref: "#/components/schemas/CreateProject"
        - type: object
          required:
            - id
            - created_at
            - benchmark
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            benchmark:
              type: boolean
              readOnly: true

    ProjectWithUnits:
      allOf:
        - $ref: "#/components/schemas/Project"
        - type: object
          properties:
            is_administrator:
              type: boolean
              readOnly: true
            units:
              type: array
              readOnly: true
              items:
                $ref: "#/components/schemas/ProjectUnit"
            consumptions:
              type: object
              readOnly: true
              additionalProperties:
                $ref: "#/components/schemas/Consumption"
            area:
              type: number
              format: float
              readOnly: true

    ProjectUnit:
      type: object
      required:
        - id
        - name
        - type
        - area
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        repetition_count:
          type: integer
          description: "Number of repeated instances represented by this unit in project-level weighted consumption calculations."
          example: 1
          readOnly: true
        area:
          type: number
          format: float
          readOnly: true
        consumptions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Consumption"

    Consumption:
      type: object
      properties:
        co2_min:
          type: number
          format: float
          readOnly: true
        co2_max:
          type: number
          format: float
          readOnly: true
        energy_min:
          type: number
          format: float
          readOnly: true
        energy_max:
          type: number
          format: float
          readOnly: true

    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        project_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Main Tower"
        type:
          type: string
          example: "tower"
        repetition_count:
          type: integer
          description: "Optional repetition factor for the unit. Used as a weight in project consumption aggregation. Defaults to 1."
          example: 1
        housing_units_count:
          type: ["integer", "null"]
          description: "Optional number of housing units/apartments in the tower."
          example: 48

    Floor:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        index:
          type: integer
          description: "The floor number/index (e.g., -1 for basement, 1 for first floor)."
          example: 1
        area:
          type: number
          format: float
          example: 450.5
        height:
          type: number
          format: float
          example: 2.8
        group_name:
          type: string
          description: "The name of the floor group this floor belongs to."
          example: "Basement Floors"

    UnitCreate:
      type: object
      required:
        - name
        - type
        - data
      properties:
        name:
          type: string
          example: "Main Tower"
        type:
          type: string
          enum: [tower]
        repetition_count:
          type: integer
          description: "Optional repetition factor for the unit. If omitted, defaults to 1."
          example: 1
        housing_units_count:
          type: integer
          nullable: true
          description: "Optional number of housing units/apartments in the tower."
          example: 48
        data:
          description: "Polymorphic data based on the unit type."
          oneOf:
            - $ref: "#/components/schemas/TowerCreateData"

    TowerCreateData:
      type: object
      required:
        - floors
      properties:
        floors:
          type: array
          description: "Array of individual floors. Each floor must have a unique index and consecutive indexes starting from 1."
          minItems: 1
          items:
            $ref: "#/components/schemas/FloorCreate"
        housing_units_count:
          type: ["integer", "null"]
          description: "Optional number of housing units/apartments in the tower. Prefer sending this field at the top level of the unit payload."
          example: 48

    FloorCreate:
      type: object
      required:
        - floor_group
        - category
        - area
        - height
        - index
      properties:
        id:
          type: string
          format: uuid
          description: "Optional UUID for the floor. If not provided, will be auto-generated."
        floor_group:
          type: string
          description: "Name of the floor group this floor belongs to (e.g., 'Standard Floors', 'Basement')."
          example: "Standard Floors"
        category:
          type: string
          description: "Category of the floor."
          enum: [basement_floor, penthouse_floor, ground_floor, standard_floor]
          example: "standard_floor"
        area:
          type: number
          format: float
          description: "Floor area in square meters (m²)."
          example: 500.0
        height:
          type: number
          format: float
          description: "Floor height in meters (m)."
          example: 3.0
        index:
          type: integer
          description: "Floor index/number. Must be unique and consecutive (no gaps). Typically starts at 1."
          example: 1

    OptionCreateRequest:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
      required:
        - name
        - active

    # --- Module Schemas (externalized) ---
    ModulePayloadV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModulePayloadV1"
    ModulePayloadV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModulePayloadV2"
    ModuleCreateRequestV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleCreateRequestV1"
    ModuleCreateRequestV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleCreateRequestV2"
    ModuleUpdateRequestV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleUpdateRequestV1"
    ModuleUpdateRequestV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleUpdateRequestV2"
    ModuleBatchCreateRequestV1:
      type: object
      properties:
        modules:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ModulePayloadV1"
      required:
        - modules
    ModuleBatchCreateRequestV2:
      type: object
      properties:
        modules:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ModulePayloadV2"
      required:
        - modules
    ModuleResponseV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleResponseV1"
    ModuleResponseV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ModuleResponseV2"
    ModuleBatchResponseV1:
      type: object
      properties:
        modules:
          type: array
          items:
            $ref: "#/components/schemas/ModulePayloadV1"
      required:
        - modules
    ModuleBatchResponseV2:
      type: object
      properties:
        modules:
          type: array
          items:
            $ref: "#/components/schemas/ModulePayloadV2"
      required:
        - modules
    BeamColumnDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnDataV1"
    BeamColumnDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnDataV2"
    ConcreteWallDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallDataV1"
    ConcreteWallDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallDataV2"
    StructuralMasonryDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonryDataV1"
    StructuralMasonryDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonryDataV2"
    ConcreteVolumeItem:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteVolumeItem"
    ConcreteVolumes:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteVolumes"
    SteelMaterial:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/SteelMaterial"
    BeamColumnConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnConcrete"
    BeamColumnSteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnSteel"
    BeamColumnForm:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnForm"
    ConcreteWallConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallConcrete"
    ConcreteWallSteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallSteel"
    ConcreteWallForm:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallForm"
    StructuralMasonryConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonryConcrete"
    StructuralMasonrySteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonrySteel"
    StructuralMasonryForm:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonryForm"
    SteelMaterials:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/SteelMaterials"
    ConcreteElement:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteElement"
    SlabType:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/SlabType"
    BeamColumnData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BeamColumnData"
    ConcreteWallData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/ConcreteWallData"
    StructuralMasonryData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/StructuralMasonryData"
    GroutVolumeItem:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/GroutVolumeItem"
    MortarItem:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/MortarItem"
    BlockInfo:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/BlockInfo"
    GroutInfo:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/GroutInfo"
    MasonryElement:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/MasonryElement"
    RaftFoundationDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftFoundationDataV1"
    RaftFoundationDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftFoundationDataV2"
    PilesFoundationDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/PilesFoundationDataV1"
    PilesFoundationDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/PilesFoundationDataV2"
    RaftPilesFoundationDataV1:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftPilesFoundationDataV1"
    RaftPilesFoundationDataV2:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftPilesFoundationDataV2"
    RaftFoundationConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftFoundationConcrete"
    RaftFoundationSteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftFoundationSteel"
    PilesFoundationConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/PilesFoundationConcrete"
    PilesFoundationSteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/PilesFoundationSteel"
    RaftPilesFoundationConcrete:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftPilesFoundationConcrete"
    RaftPilesFoundationSteel:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftPilesFoundationSteel"
    FoundationElement:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/FoundationElement"
    RaftElement:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftElement"
    RaftFoundationData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftFoundationData"
    PilesFoundationData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/PilesFoundationData"
    RaftPilesFoundationData:
      $ref: "./openapi-modules-schemas.yaml#/components/schemas/RaftPilesFoundationData"
