openapi: 3.1.0
info:
  title: BIPC
  description: Iterative Benchmark for Low-Carbon Projects
  version: 1.0.0
security:
  - apiKeyAuthentication: []
  - bearerHttpAuthentication: []
tags:
  - name: users
  - name: invitations
  - name: tokens
  - name: projects
servers:
  - url: https://bipc.org.br/v1

paths:
  /users:
    post:
      summary: Register a new user
      description: Creates a new user account. After registration, an activation token is sent to the user's email.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser"
      responses:
        "202":
          description: Accepted. The user was successfully registered and an activation email has been sent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., duplicate email).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update user details
      description: Updates the details for the currently authenticated user. Requires authentication.
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUser"
      responses:
        "200":
          description: OK. The user was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., duplicate email).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete user account
      description: Deletes the currently authenticated user's account. To delete the account it is necessary to delete or transfer the projects.
      tags: [users]
      responses:
        "200":
          description: OK. The user was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "403":
          description: Forbidden. The user cannot be deleted because they have associated projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/activated:
    put:
      summary: Activate a user
      description: Activates a user account using a token sent to their email.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        "200":
          description: OK. User successfully activated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The token is invalid or has expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/password:
    put:
      summary: Update user password
      description: Updates the password for a user, typically used in a password reset flow.
      security: []
      tags: [users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - token
              properties:
                password:
                  type: string
                  format: password
                  description: The new password. Must be at least 8 bytes long.
                token:
                  type: string
      responses:
        "200":
          description: OK. Password successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The token is invalid or has expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/collaborators:
    get:
      summary: List user collaborators
      description: Returns a list of users who have been invited to collaborate on the authenticated user's projects.
      tags: [users]
      responses:
        "200":
          description: A list of collaborators.
          content:
            application/json:
              schema:
                type: object
                required:
                  - users
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/pending-invitations:
    get:
      summary: List pending invitations
      description: Returns a list of pending invitations for the authenticated user.
      tags: [invitations]
      responses:
        "200":
          description: A list of pending invitations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationsWithDetails"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /users/reply/{invitationID}:
    put:
      summary: Reply to an invitation
      description: Accepts or declines an invitation to collaborate on a project.
      tags: [invitations]
      parameters:
        - name: invitationID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - accepted
                    - declined
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. Invitation response recorded successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /tokens/authentication:
    post:
      summary: Create authentication token
      description: Authenticates a user and returns a JWT token.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. Invalid credentials.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. Token successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - authentication_token
                  - user
                properties:
                  authentication_token:
                    type: object
                    required:
                      - token
                      - expiry
                    properties:
                      token:
                        type: string
                      expiry:
                        type: string
                        format: date-time
                  user:
                    $ref: "#/components/schemas/User"

  /tokens/activation:
    post:
      summary: Resend activation token
      description: Resends the activation token to the user's email.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "202":
          description: OK. Activation email resent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /tokens/password-reset:
    post:
      summary: Create password reset token
      description: Sends a password reset token to the user's email.
      security: []
      tags: [tokens]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "202":
          description: Accepted. Password reset email sent successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /tokens/api-key:
    post:
      summary: Create API key
      description: Generates a new API key for the authenticated user.
      tags: [tokens]
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. API key successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - api_key
                properties:
                  api_key:
                    type: string
                    readOnly: true

  /projects:
    post:
      summary: Create new project
      description: Creates a new project for the authenticated user.
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProject"
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "201":
          description: Created. The project was successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/Project"
    get:
      summary: List all projects
      description: Returns a paginated list of projects for the authenticated user.
      tags: [projects]
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10000000
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              [
                "id",
                "created_at",
                "name",
                "state",
                "city",
                "phase",
                "-id",
                "-created_at",
                "-name",
                "-state",
                "-city",
                "-phase",
              ]
      responses:
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: Created. The project was successfully created.
          content:
            application/json:
              schema:
                type: object
                required:
                  - projects
                  - metadata
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectWithUnits"
                  metadata:
                    type: object
                    required:
                      - current_page
                      - page_size
                      - first_page
                      - last_page
                      - total_records
                    properties:
                      current_page:
                        type: integer
                      page_size:
                        type: integer
                      first_page:
                        type: integer
                      last_page:
                        type: integer
                      total_records:
                        type: integer

  /projects/{projectID}:
    get:
      summary: Get a project by ID
      description: Retrieves the details of a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "403":
          description: Forbidden. account must be activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The requested project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: A single project.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/ProjectWithUnits"
    patch:
      summary: Update a project
      description: Updates the details of a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProject"
      responses:
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. account must be activated or user does not have permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The requested project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad Request. The request body is invalid or malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict. A conflicting edit occurred.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. The project was successfully updated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/Project"
    delete:
      summary: Delete a project
      description: Deletes a specific project.
      tags: [projects]
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "422":
          description: Unprocessable Entity. The request failed validation checks.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. account must be activated or user does not have permission.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: OK. The project was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultOkResponse"

  /v1/projects/{projectID}/duplicate:
    post:
      summary: Duplicate a project (same owner)
      description: Creates a complete copy of an existing project including all its units, floors, options, modules, and roles. The duplicated project will have a new name with a numeric suffix (e.g., "Project (1)"), and all IDs will be newly generated. The current authenticated user becomes the owner of the duplicated project, and all original role members are preserved. Note that this endpoint does NOT allow changing the owner - use the transfer endpoint for cross-account duplication.
      tags: [projects]
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: ID of the project to duplicate
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created. The project was successfully duplicated.
          content:
            application/json:
              schema:
                type: object
                required:
                  - project
                properties:
                  project:
                    $ref: "#/components/schemas/ProjectWithUnits"
        "400":
          description: Bad Request. Invalid project ID format.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized. The user is not authenticated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden. Account must be activated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not Found. The project does not exist.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error. Failed to duplicate project or its resources.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/projects/{projectID}/invite:
    post:
      summary: Invite a user to a project
      description: Sends an invitation to a user to collaborate on a project.
      tags:
        - Invitations
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK. Invitation sent successfully.
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "422":
          description: Unprocessable Entity. The request failed validation checks (e.g., user already a member, or pending invitation exists).
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units:
    post:
      summary: Create new unit
      description: Creates a new unit (e.g., a tower) within a project.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project to add the unit to.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitCreate"
      responses:
        "200":
          description: OK. The unit was created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "422":
          description: Unprocessable Entity. The request failed validation checks.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}:
    get:
      summary: Get a unit by ID
      description: Retrieves the details of a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to retrieve.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A single unit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "500":
          description: Internal Server Error.
    patch:
      summary: Update a unit
      description: Updates the details of a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to update.
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnitCreate"
      responses:
        "200":
          description: OK. The unit was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. The request body is invalid or malformed.
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "409":
          description: Conflict. A conflicting edit occurred.
        "422":
          description: Unprocessable Entity. The request failed validation checks.
        "500":
          description: Internal Server Error.
    delete:
      summary: Delete a unit
      description: Deletes a specific unit.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          description: The ID of the project.
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          description: The ID of the unit to delete.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK. The unit was successfully deleted.
        "401":
          description: Unauthorized. The user is not authenticated.
        "404":
          description: Not Found. The requested unit does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/duplicate:
    post:
      summary: Duplicate an existing unit with all its options and modules
      description: Creates a copy of an existing unit with all its floors, options, and modules. All entities are created with new IDs. Floor indexes are preserved (floor index 0 becomes floor index 0 in the new unit). Modules associated with specific floors are mapped to the corresponding floor indexes in the new unit. The active option state is preserved. If the original name ends with " (number)", the number is incremented; otherwise, " (1)" is appended to the name.
      tags:
        - Units
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the project
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the unit to duplicate
      responses:
        "201":
          description: Unit successfully duplicated with all its floors, options, and modules
          content:
            application/json:
              schema:
                type: object
                properties:
                  unit:
                    $ref: "#/components/schemas/Unit"
        "400":
          description: Bad Request. Invalid project or unit ID.
        "404":
          description: Not Found. The original unit does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/options:
    post:
      summary: Create a new engineering option for a tower
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OptionCreateRequest"
      responses:
        "201":
          description: unit option created successfully
    get:
      summary: List all options for a unit
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A list of options
  /v1/projects/{projectID}/units/{unitID}/options/{optionID}:
    get:
      summary: Get a unit option by ID
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A single unit option
        "404":
          description: Not Found.
    patch:
      summary: Update a unit option
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OptionCreateRequest"
      responses:
        "200":
          description: Successfully updated
        "404":
          description: Not Found.
        "409":
          description: Conflict. A conflicting edit occurred.
    delete:
      summary: Delete a unit option
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully deleted
        "404":
          description: Not Found.

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/duplicate:
    post:
      summary: Duplicate an existing option with all its modules
      description: Creates a copy of an existing option with the same data but new IDs. All modules associated with the original option are also duplicated. The duplicated option will be marked as active and any other active option will be deactivated. If the original name ends with " (number)", the number is incremented; otherwise, " (1)" is appended to the name.
      tags:
        - Options
      security:
        - bearerAuth: []
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the option to duplicate
      responses:
        "201":
          description: Option successfully duplicated with all its modules
        "400":
          description: Bad Request. Invalid unit or role ID.
        "404":
          description: Not Found. The original option does not exist.
        "500":
          description: Internal Server Error.

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules:
    post:
      summary: Create a new module for a unit option
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModuleCreateRequest"
            examples:
              beam_column:
                summary: "Beam Column Module"
                value:
                  type: "beam_column"
                  data:
                    floor_ids:
                      - "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6"
                      - "e7f8a9b0-c1d2-e3f4-a5b6-c7d8e9f0a1b2"
                    concrete_columns:
                      volumes:
                        - fck: 30
                          volume: 150.5
                        - fck: 35
                          volume: 50.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 7500.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 1200.0
                    concrete_beams:
                      volumes:
                        - fck: 30
                          volume: 200.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 10000.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 1500.0
                    concrete_slabs:
                      volumes:
                        - fck: 25
                          volume: 450.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 22500.0
                    form_columns: 1200
                    form_beams: 2500
                    form_slabs: 9000
                    column_number: 120
                    avg_beam_span: 6
                    avg_slab_span: 5
              
              concrete_wall:
                summary: "Concrete Wall Module"
                value:
                  type: "concrete_wall"
                  data:
                    floor_ids:
                      - "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6"
                      - "e7f8a9b0-c1d2-e3f4-a5b6-c7d8e9f0a1b2"
                    concrete_walls:
                      volumes:
                        - fck: 30
                          volume: 180.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 9000.0
                        - material: "mesh"
                          resistance: "CA60"
                          mass: 500.0
                    concrete_slabs:
                      volumes:
                        - fck: 25
                          volume: 300.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 15000.0
                    wall_thickness: 0.20
                    slab_thickness: 0.15
                    wall_area: 3000
                    slab_area: 15000
                    wall_form_area: 6000
                    slab_form_area: 30000
              
              structural_masonry:
                summary: "Structural Masonry Module"
                value:
                  type: "structural_masonry"
                  data:
                    floor_ids:
                      - "f1a2b3c4-d5e6-f7a8-b9c0-d1e2f3a4b5c6"
                    concrete_columns:
                      volumes:
                        - fck: 25
                          volume: 50.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 2500.0
                    concrete_beams:
                      volumes:
                        - fck: 25
                          volume: 80.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 4000.0
                    concrete_slabs:
                      volumes:
                        - fck: 25
                          volume: 200.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 10000.0
                    form_columns: 500
                    form_beams: 800
                    form_slabs: 5000
                    form_total: 6300
                    masonry:
                      grout:
                        - position: "vertical"
                          volumes:
                            - fgk: 15
                              volume: 10.5
                          steel:
                            - material: "rebar"
                              resistance: "CA50"
                              mass: 500.0
                        - position: "horizontal"
                          volumes:
                            - fgk: 15
                              volume: 5.0
                          steel:
                            - material: "rebar"
                              resistance: "CA50"
                              mass: 250.0
                      mortar:
                        - fak: 8.5
                          volume: 15.0
                      blocks:
                        - type: "inteiro (14x19x39)"
                          fbk: 8
                          quantity: 5000
              
              raft_foundation:
                summary: "Raft Foundation Module"
                value:
                  type: "raft_foundation"
                  data:
                    area: 150.5
                    thickness: 0.25
                    fck: 30
                    steel:
                      - material: "mesh"
                        resistance: "CA60"
                        mass: 120.5
                      - material: "rebar"
                        resistance: "CA50"
                        mass: 450.0
                      - material: "rebar"
                        resistance: "CA60"
                        mass: 80.0
                      - material: "strand"
                        resistance: "CP190"
                        mass: 150.0
                    unit_id: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
              
              piles_foundation:
                summary: "Piles Foundation Module"
                value:
                  type: "piles_foundation"
                  data:
                    fck: 30
                    piles:
                      volume: 45.5
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 450.0
                    blocks:
                      volume: 15.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 220.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 40.0
                    grade_beams:
                      volume: 8.5
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 120.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 20.0
                    tie_beams:
                      volume: 2.0
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 30.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 5.0
                    unit_id: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
              
              raft_piles_foundation:
                summary: "Raft + Piles Foundation Module"
                value:
                  type: "raft_piles_foundation"
                  data:
                    fck: 25
                    raft:
                      area: 100.0
                      thickness: 0.250
                      steel:
                        - material: "mesh"
                          resistance: "CA60"
                          mass: 150.0
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 200.0
                        - material: "rebar"
                          resistance: "CA60"
                          mass: 50.0
                        - material: "strand"
                          resistance: "CP190"
                          mass: 100.0
                    piles:
                      volume: 35.8
                      steel:
                        - material: "rebar"
                          resistance: "CA50"
                          mass: 630.0
                    unit_id: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
      responses:
        "201":
          description: Module created successfully

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules/{moduleID}:
    get:
      summary: Get a module by ID
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A single module
    delete:
      summary: Delete a module
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successfully deleted
    patch:
      summary: Update a module
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModuleCreateRequest"
      responses:
        "200":
          description: module successfully updated

  /v1/projects/{projectID}/units/{unitID}/options/{optionID}/modules/{moduleID}/duplicate:
    post:
      summary: Duplicate an existing module
      description: Creates a copy of an existing module with the same data but a new ID. The duplicated module will be associated with the specified option.
      tags:
        - Modules
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: unitID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: optionID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The option ID to associate the duplicated module with
        - name: moduleID
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the module to duplicate
      responses:
        "201":
          description: Module successfully duplicated
        "400":
          description: Bad Request. Invalid option, floor, or unit ID.
        "404":
          description: Not Found. The original module does not exist.
        "500":
          description: Internal Server Error.

components:
  securitySchemes:
    bearerHttpAuthentication:
      type: http
      scheme: bearer
      bearerFormat: opaque
    apiKeyAuthentication:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          oneOf:
            - type: string
            - type: object
              additionalProperties:
                type: string

    DefaultOkResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string

    CreateUser:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        crea_cau:
          type: string
          description: CREA or CAU registration number
        birthdate:
          type: string
          format: date
        city:
          type: string
        activity:
          type: string
        enterprise:
          type: string

    User:
      allOf:
        - $ref: "#/components/schemas/CreateUser"
        - type: object
          required:
            - id
            - created_at
            - activated
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            activated:
              type: boolean
              readOnly: true

    UpdateUser:
      type: object
      properties:
        name:
          type: string
          description: "User's full name."
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          description: "User's new password. Must be at least 8 characters long."
        crea_cau:
          type: string
          description: CREA or CAU registration number
        birthdate:
          type: string
          format: date-time
        city:
          type: string
        activity:
          type: string
        enterprise:
          type: string

    InvitationsWithDetails:
      type: object
      required:
        - invitations
      properties:
        invitations:
          type: array
          items:
            type: object
            required:
              - id
              - status
              - created_at
              - expires_at
              - inviter_id
              - project_id
              - email
              - inviter_name
              - project_name
            properties:
              id:
                type: string
                format: uuid
              status:
                type: string
                enum:
                  - accepted
                  - declined
              created_at:
                type: string
                format: date-time
              expires_at:
                type: string
                format: date-time
              inviter_id:
                type: string
                format: uuid
              project_id:
                type: string
                format: uuid
              email:
                type: string
                format: email
              inviter_name:
                type: string
              project_name:
                type: string

    CreateProject:
      type: object
      required:
        - name
        - state
        - city
        - phase
      properties:
        name:
          type: string
        cep:
          type: string
        state:
          type: string
        city:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        phase:
          type: string
        description:
          type: string

    UpdateProject:
      type: object
      properties:
        name:
          type: string
        cep:
          type: string
        state:
          type: string
        city:
          type: string
        neighborhood:
          type: string
        street:
          type: string
        number:
          type: string
        phase:
          type: string
        description:
          type: string

    Project:
      allOf:
        - $ref: "#/components/schemas/CreateProject"
        - type: object
          required:
            - id
            - created_at
            - benchmark
          properties:
            id:
              type: string
              format: uuid
              readOnly: true
            created_at:
              type: string
              format: date-time
              readOnly: true
            benchmark:
              type: boolean
              readOnly: true

    ProjectWithUnits:
      allOf:
        - $ref: "#/components/schemas/Project"
        - type: object
          properties:
            is_administrator:
              type: boolean
              readOnly: true
            units:
              type: array
              readOnly: true
              items:
                $ref: "#/components/schemas/ProjectUnit"
            consumptions:
              type: object
              readOnly: true
              additionalProperties:
                $ref: "#/components/schemas/Consumption"
            area:
              type: number
              format: float
              readOnly: true

    ProjectUnit:
      type: object
      required:
        - id
        - name
        - type
        - area
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        area:
          type: number
          format: float
          readOnly: true
        consumptions:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Consumption"

    Consumption:
      type: object
      properties:
        co2_min:
          type: number
          format: float
          readOnly: true
        co2_max:
          type: number
          format: float
          readOnly: true
        energy_min:
          type: number
          format: float
          readOnly: true
        energy_max:
          type: number
          format: float
          readOnly: true

    # --- Unit & Tower Schemas (based on new_db2.sql) ---
    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        project_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Main Tower"
        type:
          type: string
          example: "tower"

    Tower:
      allOf:
        - $ref: "#/components/schemas/Unit"
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
              readOnly: true
            updated_at:
              type: string
              format: date-time
              readOnly: true
            version:
              type: integer
              readOnly: true
            floors:
              type: array
              items:
                $ref: "#/components/schemas/Floor"

    FloorGroup:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "Standard Floors"
        floors:
          type: array
          items:
            $ref: "#/components/schemas/Floor"

    Floor:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        index:
          type: integer
          description: "The floor number/index (e.g., -1 for basement, 1 for first floor)."
          example: 1
        area:
          type: number
          format: float
          example: 450.5
        height:
          type: number
          format: float
          example: 2.8
        group_name:
          type: string
          description: "The name of the floor group this floor belongs to."
          example: "Basement Floors"

    UnitCreate:
      type: object
      required:
        - name
        - type
        - data
      properties:
        name:
          type: string
          example: "Main Tower"
        type:
          type: string
          enum: [tower]
        data:
          description: "Polymorphic data based on the unit type."
          oneOf:
            - $ref: "#/components/schemas/TowerCreateData"

    TowerCreateData:
      type: object
      required:
        - floors
      properties:
        floors:
          type: array
          description: "Array of individual floors. Each floor must have a unique index and consecutive indexes starting from 1."
          minItems: 1
          items:
            $ref: "#/components/schemas/FloorCreate"

    FloorCreate:
      type: object
      required:
        - floor_group
        - category
        - area
        - height
        - index
      properties:
        id:
          type: string
          format: uuid
          description: "Optional UUID for the floor. If not provided, will be auto-generated."
        floor_group:
          type: string
          description: "Name of the floor group this floor belongs to (e.g., 'Standard Floors', 'Basement')."
          example: "Standard Floors"
        category:
          type: string
          description: "Category of the floor."
          enum: [basement_floor, penthouse_floor, ground_floor, standard_floor]
          example: "standard_floor"
        area:
          type: number
          format: float
          description: "Floor area in square meters (m²)."
          example: 500.0
        height:
          type: number
          format: float
          description: "Floor height in meters (m)."
          example: 3.0
        index:
          type: integer
          description: "Floor index/number. Must be unique and consecutive (no gaps). Typically starts at 1."
          example: 1

    OptionCreateRequest:
      type: object
      properties:
        name:
          type: string
        active:
          type: boolean
      required:
        - name
        - active

    # --- Module Schemas ---
    ModuleCreateRequest:
      type: object
      description: "Request body for creating a new structural module. A module represents a specific structural system (e.g., beam-column or concrete wall) applied to a set of floors within a unit option."
      properties:
        type:
          type: string
          description: "The type of structural module."
          enum: [beam_column, concrete_wall, structural_masonry, raft_foundation, piles_foundation, raft_piles_foundation]
        data:
          description: "Polymorphic data containing the specific details for the chosen module type. The structure of this object depends on the 'type' field."
          oneOf:
            - $ref: "#/components/schemas/BeamColumnData"
            - $ref: "#/components/schemas/ConcreteWallData"
            - $ref: "#/components/schemas/StructuralMasonryData"
            - $ref: "#/components/schemas/RaftFoundationData"
            - $ref: "#/components/schemas/PilesFoundationData"
            - $ref: "#/components/schemas/RaftPilesFoundationData"
      required:
        - type
        - data

    # Schema for a single concrete volume item
    ConcreteVolumeItem:
      type: object
      properties:
        fck:
          type: integer
          description: "Characteristic compressive strength of concrete in MPa (Megapascals)."
          enum: [20, 25, 30, 35, 40, 45]
        volume:
          type: number
          format: float
          description: "Volume of concrete with the specified fck in cubic meters (m³)."
      required:
        - fck
        - volume

    # Schema for the array of concrete volumes
    ConcreteVolumes:
      type: array
      description: "An array defining concrete volumes, broken down by compressive strength (fck)."
      minItems: 1
      items:
        $ref: "#/components/schemas/ConcreteVolumeItem"

    # Schema for a single steel material item
    SteelMaterial:
      type: object
      description: "Defines a steel reinforcement material with its type, resistance characteristics, and mass."
      properties:
        material:
          type: string
          description: "The type of steel material."
          enum: [general, rebar, mesh, strand, other]
          example: "rebar"
        other_name:
          type: string
          description: "Custom material name. Required when material is 'other'."
          example: "Custom Steel Type"
        resistance:
          type: string
          description: "The resistance/strength classification of the steel."
          enum: [CA50, CA60, CP190, other]
          example: "CA50"
        other_resistance:
          type: number
          format: float
          description: "Custom resistance value in MPa. Required when resistance is 'other'."
          example: 500.0
        mass:
          type: number
          format: float
          description: "Total mass of steel reinforcement in kilograms (kg)."
          example: 22500.0
      required:
        - material
        - resistance
        - mass

    # Schema for the array of steel materials
    SteelMaterials:
      type: array
      description: "An array defining steel reinforcement materials, broken down by type and resistance."
      items:
        $ref: "#/components/schemas/SteelMaterial"

    # Schema for the concrete element, with consistent references
    ConcreteElement:
      type: object
      description: "Defines the composition of a concrete structural element, including its steel reinforcement and concrete volumes."
      properties:
        volumes:
          $ref: "#/components/schemas/ConcreteVolumes"
        steel:
          $ref: "#/components/schemas/SteelMaterials"
      required:
        - volumes
        - steel

    BeamColumnData:
      type: object
      description: "Data for a 'beam_column' type module."
      properties:
        floor_ids:
          type: array
          description: "Array of floor IDs to which this module will be applied. These floors must belong to the unit associated with this option."
          items:
            type: string
            format: uuid
          minItems: 1
        concrete_columns:
          description: "Concrete and steel composition for all columns in the specified floors."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        concrete_beams:
          description: "Concrete and steel composition for all beams in the specified floors."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        concrete_slabs:
          description: "Concrete and steel composition for all slabs in the specified floors."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        form_columns:
          type: number
          description: "Total area of concrete forms for columns in square meters (m²)."
          example: 1250.5
        form_beams:
          type: number
          description: "Total area of concrete forms for beams in square meters (m²)."
          example: 2500.0
        form_slabs:
          type: number
          description: "Total area of concrete forms for slabs in square meters (m²)."
          example: 9000.0
        form_total:
          type: number
          description: "Total area of all concrete forms (columns + beams + slabs) in square meters (m²)."
          example: 12750.5
        column_number:
          type: integer
          description: "Total number of columns in the specified floors."
          example: 120
        avg_beam_span:
          type: number
          description: "Average span between beams in meters (m)."
          example: 6.0
        avg_slab_span:
          type: number
          description: "Average span of slabs in meters (m)."
          example: 5.0
      required:
        - floor_ids
        - concrete_columns
        - concrete_beams
        - concrete_slabs

    ConcreteWallData:
      type: object
      description: "Data for a 'concrete_wall' type module."
      properties:
        floor_ids:
          type: array
          description: "Array of floor IDs to which this module will be applied. These floors must belong to the tower associated with this unit option."
          items:
            type: string
            format: uuid
            example: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
        concrete_walls:
          description: "Concrete and steel composition for all walls in the specified floors."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        concrete_slabs:
          description: "Concrete and steel composition for all slabs in the specified floors."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        wall_thickness:
          type: number
          description: "Average thickness of the concrete walls in meters (m)."
          example: 0.20
        slab_thickness:
          type: number
          description: "Average thickness of the concrete slabs in meters (m)."
          example: 0.15
        wall_area:
          type: number
          description: "Total area of the concrete walls in square meters (m²)."
          example: 3000
        slab_area:
          type: number
          description: "Total area of the concrete slabs in square meters (m²)."
          example: 15000
        wall_form_area:
          type: number
          description: "Total area of concrete forms for walls in square meters (m²)."
          example: 6000
        slab_form_area:
          type: number
          description: "Total area of concrete forms for slabs in square meters (m²)."
          example: 30000
      required:
        - concrete_walls
        - concrete_slabs

    StructuralMasonryData:
      type: object
      description: "Data for a 'structural_masonry' type module. Structural masonry combines concrete structural elements (columns, beams, slabs) with masonry block construction."
      properties:
        floor_ids:
          type: array
          description: "Array of floor IDs to which this module will be applied."
          items:
            type: string
            format: uuid
          minItems: 1
        concrete_columns:
          description: "Concrete and steel composition for columns."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        concrete_beams:
          description: "Concrete and steel composition for beams."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        concrete_slabs:
          description: "Concrete and steel composition for slabs."
          allOf:
            - $ref: "#/components/schemas/ConcreteElement"
        form_columns:
          type: number
          description: "Total area of concrete forms for columns in m²."
          example: 1200
        form_beams:
          type: number
          description: "Total area of concrete forms for beams in m²."
          example: 2500
        form_slabs:
          type: number
          description: "Total area of concrete forms for slabs in m²."
          example: 9000
        form_total:
          type: number
          description: "Total area of all concrete forms in m²."
          example: 12700
        masonry:
          type: object
          description: "Masonry elements including grout, mortar, and blocks."
          properties:
            grout:
              type: array
              description: "Array of grout information for vertical or horizontal filling."
              items:
                type: object
                properties:
                  position:
                    type: string
                    enum: [vertical, horizontal]
                    description: "Position of grout application."
                  volumes:
                    type: array
                    description: "Array of grout volumes by compressive strength (fgk)."
                    items:
                      type: object
                      properties:
                        fgk:
                          type: integer
                          description: "Grout compressive strength in MPa."
                          example: 15
                        volume:
                          type: number
                          format: float
                          description: "Volume of grout in m³."
                          example: 10.5
                      required: [fgk, volume]
                  steel:
                    $ref: "#/components/schemas/SteelMaterials"
                required: [position, volumes]
            mortar:
              type: array
              description: "Array of mortar volumes by compressive strength (fak)."
              items:
                type: object
                properties:
                  fak:
                    type: number
                    format: float
                    description: "Mortar compressive strength in MPa."
                    example: 8.5
                  volume:
                    type: number
                    format: float
                    description: "Volume of mortar in m³."
                    example: 15.0
                required: [fak, volume]
            blocks:
              type: array
              description: "Array of masonry blocks by type and strength."
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: "Type of masonry block."
                    example: "inteiro (14x19x39)"
                  fbk:
                    type: integer
                    description: "Block compressive strength in MPa."
                    example: 8
                  quantity:
                    type: integer
                    description: "Number of blocks."
                    example: 5000
                required: [type, fbk, quantity]
          required: [grout, mortar, blocks]
      required:
        - floor_ids
        - concrete_columns
        - concrete_beams
        - concrete_slabs
        - masonry

    RaftFoundationData:
      type: object
      description: "Data for a 'raft_foundation' type module. A raft foundation is a continuous concrete slab that extends over the entire building footprint."
      properties:
        unit_id:
          type: string
          format: uuid
          description: "ID of the unit this foundation belongs to."
        area:
          type: number
          format: float
          description: "Total area of the raft foundation in m²."
          example: 500.0
        thickness:
          type: number
          format: float
          description: "Thickness of the raft slab in meters."
          example: 0.30
        fck:
          type: integer
          description: "Characteristic compressive strength of concrete in MPa."
          enum: [20, 25, 30, 35, 40, 45]
          example: 30
        steel:
          $ref: "#/components/schemas/SteelMaterials"
      required:
        - unit_id
        - area
        - thickness
        - fck
        - steel

    PilesFoundationData:
      type: object
      description: "Data for a 'piles_foundation' type module. A piles foundation uses deep vertical elements to transfer loads to deeper soil layers."
      properties:
        unit_id:
          type: string
          format: uuid
          description: "ID of the unit this foundation belongs to."
        fck:
          type: integer
          description: "Characteristic compressive strength of concrete in MPa."
          enum: [20, 25, 30, 35, 40, 45]
          example: 30
        piles:
          type: object
          description: "Pile elements."
          properties:
            volume:
              type: number
              format: float
              description: "Total volume of pile concrete in m³."
              example: 50.0
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [volume, steel]
        blocks:
          type: object
          description: "Pile cap blocks."
          properties:
            volume:
              type: number
              format: float
              description: "Total volume of block concrete in m³."
              example: 30.0
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [volume, steel]
        grade_beams:
          type: object
          description: "Grade beams connecting pile caps."
          properties:
            volume:
              type: number
              format: float
              description: "Total volume of grade beam concrete in m³."
              example: 20.0
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [volume, steel]
        tie_beams:
          type: object
          description: "Tie beams for lateral stability."
          properties:
            volume:
              type: number
              format: float
              description: "Total volume of tie beam concrete in m³."
              example: 15.0
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [volume, steel]
      required:
        - unit_id
        - fck
        - piles
        - blocks
        - grade_beams
        - tie_beams

    RaftPilesFoundationData:
      type: object
      description: "Data for a 'raft_piles_foundation' type module. Combines a raft foundation with supporting piles for higher load capacity."
      properties:
        unit_id:
          type: string
          format: uuid
          description: "ID of the unit this foundation belongs to."
        fck:
          type: integer
          description: "Characteristic compressive strength of concrete in MPa."
          enum: [20, 25, 30, 35, 40, 45]
          example: 30
        raft:
          type: object
          description: "Raft slab component."
          properties:
            area:
              type: number
              format: float
              description: "Total area of the raft in m²."
              example: 500.0
            thickness:
              type: number
              format: float
              description: "Thickness of the raft slab in meters."
              example: 0.30
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [area, thickness, steel]
        piles:
          type: object
          description: "Supporting piles component."
          properties:
            volume:
              type: number
              format: float
              description: "Total volume of pile concrete in m³."
              example: 40.0
            steel:
              $ref: "#/components/schemas/SteelMaterials"
          required: [volume, steel]
      required:
        - unit_id
        - fck
        - raft
        - piles
